<div class="container h-100" style="margin-top:150px"> 
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px; width: 80%;" >
                <div class="card-body p-md-5">
                    <form class="mx-1 mx-md-4" [formGroup]="selectSeatForm" (ngSubmit)="onSubmit(val)">
                    <div class="row justify-content-center" style="margin-bottom:30px;width: 100%">
                        <div class="col order-lg-1">
                            <button (click)="onSubmit(24)">24</button>
                        </div>
                        <!-- <div class="col order-lg-1">
                            <button>20</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>16</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>12</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>8</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>4</button>
                        </div>     -->
                        
                    </div>
                    <div class="row justify-content-center" style="margin-bottom:30px;width: 100%">
                        <div class="col order-lg-1">
                            <button>23</button>
                        </div>
                        <div class="col order-lg-1">
                            <button>19</button>
                        </div>
                        <div class="col order-lg-1">
                            <button>15</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>11</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>7</button>
                        </div>
                        
                        <div class="col order-lg-1">
                            <button>3</button>
                        </div>        
                    </div>
                    <div class="row justify-content-center" style="margin-top:100px;width: 100%">
                        <div class="col order-lg-1">
                            <button>22</button>
                        </div>
                        <div class="col order-lg-1">
                            <button>18</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>14</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>10</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>6</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>2</button>
                        </div>    

                    </div>
                    <div class="row justify-content-center" style="margin-top:30px;width: 100%">
                        <div class="col order-lg-1">
                            <button>21</button>
                        </div>
                        <div class="col order-lg-1">
                            <button>17</button>
                        </div>
                        <div class="col order-lg-1">
                            <button>13</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>9</button>
                        </div>    
                        <div class="col order-lg-1">
                            <button>5</button>
                        </div>
                        
                        <div class="col order-lg-1">
                            <button>1</button>
                        </div>        
                    </div>
                    
                    </form>
       
</div>
</div>
</div>
</div>
</div>  