body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

section{
    margin: 3px;
    height: 80vh;
   
    background-image: url"(../assets/images/temp-user.jpg)";
    background-repeat: no-repeat;
    background-size: 100%
}
img{
    height: 100px;
    width: 100px;
}

p{
   
    font-size: 30px;
    font-weight: 500;
    margin-left: 38%;

}
button:hover{
    background-color: blue;
}
button{
    background-color: #24a0ed;
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
button:disabled{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 15px;
}