body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button{
    background-color: #040640;
    width: 116px;
}

label{
    font-weight: 700;

}

.form-control {
    width: 90%;
    border-radius: 25px;
    border: 2px solid #777;
    
    
}