<form [formGroup]="viewTicket" (ngSubmit)="onSubmit()">
    <label for= "ticketId">Enter your ticket ID</label>
    <input type="number" formControlName="ticketId" id="ticketId">
    <button type="submit" class="btn btn-primary btn-lg">Search</button>
</form>
<div class="container">
    <!-- <h2> User Details</h2>     -->
    <table class="table table-striped table-responsive table-hover">
        <thead>
          <tr>
            <!-- <th class="invisible">Bus Id</th> -->
            <th>Ticket ID</th>
            <th>Date of Journey</th>
            <th>Bus Plate</th>
            <th>Source Location</th>
            <th>Destination Location</th>
            <th>Number of Seats</th>
            <th>Seat No</th>
            <th>No of Halts</th>
            <th>Ticket Price</th> 
          </tr>
        </thead>    
        <tbody>
          <tr>
            <!-- <td class="invisible">{{ bus.busId}}</td> -->
            <td>{{ ticket.ticketId }}</td>
            <td>{{ ticket.doj | date: "short" }}</td>
            <td>{{ ticket.busPlate}}</td>
            <td>{{ ticket.userSource }}</td>
            <td>{{ ticket.userDestination }}</td>
            <td>{{ ticket.numberOfseats }}</td>
            <td>{{ ticket.seat }}</td>
            <td>{{ ticket.fare | currency: "INR" }}</td>
            <!-- <button class="btn btn-primary" style="margin-left: 20px; background-color: #008cba; hover {background-color: #e7e7e7;}">Cancel</button> -->
          </tr>   
        </tbody>  
      </table>
    </div>

