<h3>Welcome to Trip- Tours and Travels!</h3>
  <p style="color: black; size: 12px; margin: auto; width: 70%; text-align: center; margin-bottom: 0px;"> <i> Trip- Tours and Travels ensures the safety and comfort of the passengers. On-time bus service, friendly staff and easy bus ticket booking options are also among the top reasons that make Trip- Tours and Travels among the most sought after bus operators in India.</i></p>
  <div class="row">
    <div [style.background-image]="'url(../assets/images/home.jpeg)'" style="background-repeat: no-repeat;background-size: 100%">
    <div class="col-sm-5 text-center abc" style="background-color:rgba(192,192,192,0);">
        <!-- Default form login -->
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit">
           <div class="d-flex justify-content-left">
                <div>
                  <div class="row"> 
                    <div class="col">
                        <div class="mb-4">
                            <div class="row">
                              <div class="col">
                                <label for="sourceLocation">Enter Source Location:</label> <br>
                                <input style="text-transform: capitalize;margin-top:20px; margin-left:25px ;" formControlName="sourceLocation" placeholder="Enter Source Location" name="sourceLocation" class="form-control" id="sourceLocation" [ngClass]="{ 'is-invalid': submitted && searchForm.controls.sourceLocation.errors }">
                                  <div *ngIf="submitted && searchForm.controls.sourceLocation.errors" class="invalid-feedback">
                                    <div *ngIf="searchForm.controls.sourceLocation.errors.required">Email is required</div>
                                    <div *ngIf="searchForm.controls.sourceLocation.errors.email">Email must be a valid email address</div>
                                  </div>
                              </div>
                              <div class="col">
                                <label for="destinationLocation">Enter Destination Location:</label> <br>
                                <input style="text-transform: capitalize;margin-top:20px; margin-left:25px ;" formControlName="destinationLocation" placeholder="Enter Destination Location" name="destinationLocation" class="form-control" id="destinationLocation" [ngClass]="{ 'is-invalid': submitted && searchForm.controls.destinationLocation.errors }">
                                  <div *ngIf="submitted && searchForm.controls.destinationLocation.errors" class="invalid-feedback">
                                    <div *ngIf="searchForm.controls.destinationLocation.errors.required">Email is required</div>
                                    <div *ngIf="searchForm.controls.destinationLocation.errors.email">Email must be a valid email address</div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4">
                            <div class="row">
                              <div class="col" style="justify-content:center">
                                <label for="startTime">Enter date and Time to search for:</label><br>
                                  <label>From:</label>
                                  <input style="margin-left: 130px;margin-top: 20px;" type="datetime-local" formControlName="startTime" name="startTime" class="form-control" id="startTime" [ngClass]="{ 'is-invalid': submitted && searchForm.controls.startTime.errors }">
                                    <div *ngIf="submitted && searchForm.controls.startTime.errors" class="invalid-feedback">
                                      <div *ngIf="searchForm.controls.startTime.errors.required">
                                        Email is required
                                      </div>
                                    </div>
                              </div>
                              <div class="col">
                                <label for="duration">To</label>
                                    <input style= "margin-left: 130px;margin-top: 20px;" type="datetime-local" formControlName="duration" name="duration" class="form-control" id="duration" [ngClass]="{ 'is-invalid': submitted && searchForm.controls.duration.errors}">
                                    <div *ngIf="submitted && searchForm.controls.duration.errors" class="invalid-feedback">
                                      <div *ngIf="searchForm.controls.duration.errors.required">
                                        Email is required
                                      </div>
                                    </div>
                              </div>
                            </div> 
                          </div>
                          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 form-group">
                            <button type="submit" class="btn btn-primary btn-lg" (click)="onSubmit()">Search</button>
                          </div>  
                    </div>
                    </div>
                   </div>
            </div> 
          </form>
    </div>
    <p> <i>It's kind of beautiful to sit inside a bus and see a city from the windows...</i> </p>
  </div>
</div>


<div class="ourMission">
  <div class="missionDiv1">
      <h1>About Us</h1>
      <p>
        Nurtured from the seed of a single great idea - to empower the traveller - Trip- Tours and Travels is a pioneer in India’s online travel industry. 
      </p>
      <p>
        Founded in the year 2021 by a <span style="color: black;"> group of friends- Shubham Khandelwal,Amay Chugh, Anushka Rajoriya, Reeti Kothari and Sehla Pathan</span>. SafarKaro came to life to empower the Indian traveller with instant bookings and comprehensive choices. The company initiated its journey serving the Pune-Mumbai-Banglore-Gwalior travel market offering a range of best-value products and services powered by technology and round-the-clock customer support.

        After consolidating its position in the market as a brand recognised for its reliability and transparency, Trip- Tours and Travels launched its Pune operations in 2005. With more and more Punekars initiating to transact online with ICRTC and new opportunities with the advent of low cost carriers, SafarKaro offered travellers the convenience of booking travel online with a few clicks.
        
        SafarKaro’s rise has been led by the vision and the spirit of each one of its employees, for whom no idea was too big and no problem too difficult. With untiring determination, SafarKaro has proactively diversified its product offering, adding a variety of online and offline products and services.  </p>
      <div class="colored">
          <p>
              Stay tuned for exciting offers and discounts for you, your friends and family. Because its all about loving, sharing and receiving...
          </p>
      </div>
</div>